*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.header {
  margin:0 .25em;
  display: flex;
  justify-content: space-between;
  
  
}
#main-header{
  font-size:2em;
}
section {
  display: flex;
  justify-content: center;
}

.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 1em 1em 1em;
 
  
  
}
.question {
  text-align: center;
  font-size: 1.5em;
  

}

.btns {
  font-size: 1.5em;
  margin: 1em;
  padding: .2em .5em;
  border-radius: .25em;
  border: none;
  background-color: rgba(34, 3, 72, 0.929);
  color:white;
}
  
